@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-blue: #00f3ff;
  --neon-red: #ff003c;
  --deep-black: #050505;
}

body {
  background-color: var(--deep-black);
  color: white;
}